
.body1{
background-color: antiquewhite;

}
h1 {text-align: center;}

.aboutMe{
	display: flex;
	justify-content: center;
	align-items: center;
  }
.aboutmee{
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative; top: -80px;
}
.resume{
	display: flex;
	justify-content: center;
	align-items: center;
}
.resumee{
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative; top: -80px;
}

.interests{
	display: flex;
	justify-content: center;
	align-items: center;
}
.interestss{
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative; top: -80px;

}
